<h1>Welcome to Player Card</h1>

<h2><%= @league.name %></h2>

<p><%= link_to "Teams", '#' %></p>
<p><%= link_to "Referees", '#' %></p>
<p><%= link_to "Players", '#' %></p>
<p><%= link_to "Games", '#' %></p>
