<!-- picture, name, role, team, is manager -->

<% @profiles.each do |profile| %>
  <p>
    <%= image_tag profile.picture.url(:thumb) %>
    <div>
    <%= link_to "#{profile.name}", profile_path(profile.user) %>
    <div>
    <%= profile.role %>
    <div>
    <% profile.user.teams.each do |team| %>
      <%= team.name %>
    <% end %>
    <div>
    <% profile.user.team_memberships.each do |player| %>
      <% if player.is_manager %>
        <%= "team manager" %>
        <% break %>
      <% end %>
    <% end %>
    <div>
  </p>
<% end %>
