<p id="notice"><%= notice %></p>

<%= image_tag @profile.picture.url(:medium) %>

<p><b>NAME: </b><%= @profile.name %></p>

<p><strong>Cards list</strong></p>
<% @cards.each do |card| %>
  <p><%= card.color %> | <%= card.created_at.strftime("Issued on %m/%d/%y") %></p>
<% end %>
<%= link_to 'Back', :back %>
