<%= image_tag @profile.picture.url(:medium) %>

<p><b>NAME: </b><%= @profile.name %></p>

<p><strong>Cards list</strong></p>
<% @cards.each do |card| %>
  <p><%= link_to card.color, game_path(card.game) %> | <%= card.created_at.strftime("Issued on %m/%d/%y") %></p>
  <p><%= card.comments %></p>
<% end %>
<%= link_to 'Back', :back %>
