
<h2>
  <%= @game.away_team.name %> @ <%= @game.home_team.name %>
</h2>
<p>
  Location:  <%= @game.game_location %> <br/>
  Start Time:  <%= @game.game_time %> <br/>
  Referee:  <%= @game.referee.name %>
</p>
<div class="team_titles">
  <%= link_to @game.home_team.name, @game.home_team %>
  <%= link_to @game.away_team.name, @game.away_team %>
</div>
<div class="home_team team">
  <% @game.away_team.line_up.each do |player| %>
    <div>
    <%= link_to player_path player do %>
      <%= image_tag player.profile.picture_url %>
    <% end %>
    <%= player.name %>

    <%= link_to 'Book Player', new_game_card_path(@game.id)%>
    </div>
  <% end %>

</div>

<div class="away_team team">
  <%= @game.home.team.line_up.each do |player| %>
    <div>
    <% link_to player_path player do %>
      <% image_tag player.profile.picture_url %>
    <% end %>
    <%= player.name %>

    <% link_to 'Book Player', new_game_card_path(@game.id)%>
    </div>
  <% end %>
</div>


