<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :teams, "Teams" %><br />
    <%= f.select :team_ids, options_for_select(@teams.map{|team| [team.name, team.id]}, selected: [@game.teams.last.id, @game.teams.first.id]), {}, {multiple: true, size: 8} %>
  </div>
  <div class="field">
    <%= f.label :game_time %><br />
    <%= datetime_select :game, :game_time %>
  </div>
  <div class="field">
    <%= f.label :game_location %><br />
    <%= f.text_area :game_location %>
  </div>
  <div class="field">
    <%= f.label :referee %><br />
    <%= f.select :referee_id, options_for_select(@referees.map{|ref| [ref.profile.name, ref.id]})%>
  </div>


  <% if params[:action] == "edit" %>
    <div class="field">
      <%= f.label :home_players %><br />
      <%= f.select :home_player_ids, options_for_select(@game.teams.first.line_up.map{|player| [player.profile.name, player.id, selected: true]}), {}, {multiple: true, size: 18} %>
    </div>

    <div class="field">
      <%= f.label :away_players %><br />
      <%= f.select :away_player_ids, options_for_select(@game.teams.last.line_up.map{|player| [player.profile.name, player.id, selected: true]}), {}, {multiple: true, size: 18} %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
