
<p><%= link_to 'Back', games_path %></p>
<h2>
  <%= link_to @game.teams.last.name, @game.teams.last %> @ <%= link_to @game.teams.first.name, @game.teams.first %>
</h2>

<p>
  Location:  <%= @game.game_location %> <br/>
  Start Time:  <%= @game.game_time %> <br/>
  Referee:  <%= @game.referee.profile.name %>
</p>
<div class="team_titles">
  <%= link_to @game.teams.first.name, @game.teams.first %>
  <%= link_to @game.teams.last.name, @game.teams.last %>
</div>

<div class="team.first team">
  <% @game.teams.last.line_up.each do |player| %>
    <div>
    <%= link_to profile_path player do %>
      <%= image_tag player.profile.picture.url(:large) %>
    <% end %>
    <%= player.profile.name %>
    <% if current_user.present? && current_user.profile.role == "referee"%>
      <%= link_to 'Book Player', new_game_card_path(@game.id) %>
    <% end %>
    </div>
  <% end %>

</div>

<div class="team.last team">
  <% @game.teams.first.line_up.each do |player| %>
    <div>
    <%= link_to profile_path player do %>
      <%= image_tag player.profile.picture.url(:large) %>
    <% end %>
    <%= player.profile.name %>
    <% if current_user.present? && current_user.profile.role == "referee" %>
      <%= link_to 'Book Player', new_game_card_path(@game.id) %>
    <% end %>
    </div>
  <% end %>
</div>
