<%= form_for([@game, @card]) do |f| %>

  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :player_id %>
  <%= f.select :player_id, options_for_select(@game.teams.first.line_up.map{|player| [player.profile.name, player.id]}), {}%>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.select :color, options_for_select([["Yellow", "Yellow"], ["Red", "Red"], ["Black", "Black"]]) %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
